/pyext-myrustlib/target/
/pyext-myrustlib/**/*.rs.bk
/pyext-myrustlib/Cargo.lock
/pyext-mylibcswig/build/
/pyext-mylibcswig/myclib.py
/pyext-mylibcswig/mylibcswig.py
/pyext-mylibcswig/mylibcswig_wrap.c
/pyext-mylibcswig/_mylibcswig.cpython*
/mylibpybind11/mylibpybind11.egg-info*
/pyext-mylibcython/mylibcython.c
*.egg
*.so
*.o
.cache
.benchmarks
__pycache__
myrustlib.so
/pyext-myrustlib/.gitignore
env